<!-- <h1 [ngClass]="{ x: y() }">Srijan</h1>
<input
  [placeholder]="condition"
  [ngStyle]="{ color: condition ? 'red' : 'green' }"
  type="text"
/>
<h2>test</h2>

<button (click)="handleClick()">change style</button> -->

<!-- @for (user of users; track $index) { @if(user.age>20) {
<h1>{{ user.name }}</h1>
} @else {
<h1>{{ user.name }} is minor</h1>
} } -->

<!-- <h1 *ngFor="let user of users">{{ user.name }}</h1> -->

<!-- <ng-container *ngFor="let user of users">
  <h1 *ngIf="user.age > 20; else elseBlock">{{ user.name }}</h1>
</ng-container> -->

<!-- <ng-container>
  <h1>efnjkdvjkvjdfbv</h1>
</ng-container> -->

<!-- <ng-template #elseBlock>
  <h1>this is template</h1>
</ng-template> -->

<!-- @for (user of users; track $index) {} -->

<!-- <table>
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>age</th>
      <th>isMinor</th>
    </tr>
  </thead>
  <tbody>
    @for (user of users; track $index) {
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.age }}</td>
      @if (user.age>=18) {
      <td>Adult</td>
      } @else {
      <td>minor</td>
      }
    </tr>
    }
  </tbody>
</table> -->

<!-- <element (event)="methodName()"> -->

<!-- <button (click)="handleClick()">Click me</button> -->

<!-- <button (click)="handleClick()">Click me</button> -->

<input type="text" [(ngModel)]="name" />
<h1>Hello, {{ name }}!</h1>
<h1>{{ amount | currConverter : "USD" : "INR" }}</h1>

<!-- <h1>{{ amount | currency : "INR" }}</h1>
<h1>{{ name | uppercase }}</h1>
<h2>{{ birthday | date : "shortDate" }}</h2> -->
<!-- <input
  type="text"
  (input)="handleInput($event)"
  placeholder="enter some text"
/> -->

<!-- 
<img [src]="imageURL" alt="Example Image">
<button [disabled]="isDisabled">Click me</button> -->

<!-- <h1>{{ title }}</h1>
<p>User Name: {{ user.name }}</p>
<p>User Age: {{ user.age }}</p> -->

<!-- <h1>counter is: {{ 2 * incrementCounter() }}</h1> -->

<button mat-raised-button color="accent">Accent</button>

<app-child1></app-child1>
